<form id="loginForm" role="form" method="get" action= <%= goto%> >
<div class="app-title-bar">
	<div class = "row">
		<div class = "col-xs-2">  
			<% if(backbutton){ %>
			<button type = "submit">
        		    <span class="glyphicon glyphicon-chevron-left"></span>
    		</button>
    		<% } %>

		</div>
		<div class = "col-xs-8">
				<h3 class="app-title"> Shuffle </h3>
		</div>
	</div>
</div>
</form>
