<div class="app-title-bar">
	<div class = "row">
		<div class = "col-xs-2">  
			<% if(support){ %>
			<form id="loginForm" role="form" method="get" action="/chat" >
			<button type = "submit" class="navbutton">
        		    <span class="glyphicon glyphicon-question-sign"></span>
    		</button>
    		</form>
    		<% } %>

		</div>
		<div class = "col-xs-8">
				<h1 class="home-title" style:"font-size: 36px;">Harmonize</h1>
		</div>
		<div class = "col-xs-2">  
			<% if(logoff){ %>
			<form id="loginForm" role="form" method="get" action= "/login" >
			<button type = "submit" class="navbutton">
        		    <span class="glyphicon glyphicon-off"></span>
    		</button>
    		</form>
    		<% } %>
    	</div>
	</div>
</div>
