<form id="loginForm" role="form" method="get" action= <%= goto%> >
<div class="container-fluid" style="padding-top:10px;">
            <button type= "submit" class="btn-block next-button"> Next </button>
</div>
</form>