<div class="profile-header">
    <div class="profile-img" style="background-image: url(<%=  imgurl%>)"></div>
    <div class="profile-name"><%=  title%></div>

    <% for(var i=0; i < genres.length; i++) { %>
        <div class="genre-tag"><%=  genres[i]%></div>
    <% } %>

    <div class="progress-button-container">
        <div id=<%= "chatButton" + id %> class="progress-button" data-loading="Chat" data-finished="Chat">Chat</div>
    </div>
</div>
