<div class="message-container">
    <div class="song-container">
        <div class="songwaves-container">

            <% if(playing){ %>
            <div class="glyphicon glyphicon-pause"> </div>
            <% } else{ %>
            <div class="glyphicon glyphicon-play"></div>
            <% } %>

            <div id=<%= "song-waveform" + songid %> class="song-waveform"> </div>

        </div>

        <div class="songname-container songname-container-recieved">
            <%=  songname%>
        </div>

    </div>

    <div class="heart-container">

        <% if(liked){ %>
        <span class="glyphicon glyphicon-heart"></span>
        <% } else{ %>
        <span class="glyphicon glyphicon-heart-empty"></span>
        <% } %>

    </div>
</div>