<!DOCTYPE html>
<html>

<head><link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    /* user login*/

    /* Bordered form */
.someform {
        border: 3px solid #f1f1f1;
    }

    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
.Login-button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
.Cancel-button {
        background-color: #e5103a;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }


</style>

<body>
    <%- include("partials/apptitlebar.ejs",{goto:"/login",backbutton:1,home:0} ) %>

<form class= "someform" id="loginForm" role="form" method="get" action="/onboarding">
    

    <div class="container">
        <label><b>Email ID or Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


            <button type="submit" class= "Login-button">Login</button>

        <input type="checkbox" checked="checked"> Remember me
    </div>

</form>

    <div class="container" style="background-color:#f1f1f1">
        <form id="loginForm" role="form" method="get" action="/login">
            <button type="submit" class="Cancel-button">Cancel</button>
        </form>
    </div>
</form>

</body>
</html>