<!DOCTYPE HTML> 
<html lang="en-US"> 
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">   

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
   <link rel="stylesheet" href="/stylesheets/genre-selection.css">
   <script src="/javascripts/genre-selection.js"></script>
  </head>
 <body>
  
  <%- include("partials/apptitlebar.ejs",{goto:"/onboarding",backbutton:1} ) %>   

<<<<<<< HEAD
  <div class="container">
=======
/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

body {
    font-size:12px;
    /*font-family: 'Lato',verdana, sans-serif;*/
    color: #fff;
    text-align:center;
    background:#ECECEC;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}


#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#bigDiv{
       margin: 10px 0px 10px 00px;
  }
  .input-group{
      padding-top: 15px;
  }
  .selectedGenre{
        background-color:#fff;
        border: 1px dashed #000;
        
  }
  .next-button{
      background-color: seagreen;
      color:white;
      width:70%;
      border-radius: 10%;
      text-align: center;
  }
  #title{
      color:black;
      margin: 0px 0px 0px 0px;

  }
  #topDiv{
      padding: 0px 0px 0px 0px;
  }
  #next{
  
  font-size: 18px;
  background-color: #4815c6;
  color: #FFFFFF;
}
</style>
</head> 
<body> 

    <!---Navbar baby-->

<%- include("partials/apptitlebar.ejs",{goto:"/onboarding",backbutton:1} ) %>   

<div id="topDiv">

>>>>>>> updated next button and I am/we are toggle
    <span id="title"> GENRE SELECTION <span>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
        <img class="img-responsive spotify no-higlight" id="soul" src="/images/soul.png" alt="">
      </div>
      
        <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
            <a class="genres" id="jazz" href="#">
                <img class="img-responsive spotify " src="/images/jazz.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4 thumb">
            <a class="genres" id="rnb" href="#">
                <img class="img-responsive spotify" src="/images/rnb.png" alt="">
            </a>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-4 thumb">
                    <a class="genres" id="folk" href="#">
                        <img class="img-responsive spotify" src="/images/folk.png" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="hiphop" href="#">
                        <img class="img-responsive spotify" src="/images/hip-hop.png" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="metal" href="#" >
                        <img class="img-responsive spotify" src="/images/metal.png" alt="">
                    </a>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="rock" href="#">
                        <img class="img-responsive spotify" src="/images/rock.png" alt="">
                    </a>
                </div>
        <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="reggae" href="#">
                        <img class="img-responsive spotify" src="/images/reggae.png" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="indie" href="#">
                        <img class="img-responsive spotify" src="/images/indie.png" alt="">
                    </a>
                </div>
        </div>
       <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres"  id="edm" href="#">
                        <img class="img-responsive spotify" src="/images/edm.png" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="country" href="#">
                        <img class="img-responsive spotify" src="/images/country.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-4 thumb" >
                    <a class="genres" id="pop" href="#">
                        <img class="img-responsive spotify" src="/images/pop.png" alt="">
                    </a>
                    </div>
            

         

        
    </div>
<<<<<<< HEAD
 </body>
 </html>
=======
</div>

</div>
   <div class="container text-center">
    <form id="next" role="form" method="get" action="/loading">
      <button class = "btn btn-block" id="next">Next </button>
    </form>
</div>
  
</body> 
</html>
>>>>>>> updated next button and I am/we are toggle
