<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:300,400" rel="stylesheet">

</head>
<style>
.text{
  margin-top: 20%;
	font-size: 80px;
	text-align: center;
}
body {
  font-family: 'Comfortaa', cursive;
  background-color: #131e29;
  color:white;}
</style>

<body>

<%- include("partials/homeNavBar.ejs",{logoff:"1",support:1} ) %>

<div>
  <p class = "text"> You do not have any chats. Press the + button to get started</p>

  
	 <a href = "/onboarding">
	 	<span class = "glyphicon glyphicon-plus-sign" style="float:center;"></span>
   </a>
</div> 
</body>
</html>