<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="/stylesheets/genre-selection.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
h1{
	font-size: 80px;
	text-align: center;
}
</style>

<body>

<%- include("partials/homeNavBar.ejs",{logoff:"1",settings:1} ) %>

<div id = "start">

<form id="start" role="form" method="get" action="/onboarding">
	<button type = "submit"> 
		<p class = "glyphicon glyphicon-plus-sign"></p>
	</button>
<h1> You do not have any chats. Press the + button to get started</h1>
</form>
</div> 
</body>
</html>