<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header text-center" >
      <div class="navbar-text navbar-brand-centered"><h3>Shuffle</h3></div>
    </div>
  </div>
</nav>


<form id="loginForm" role="form" method="get" action="/matchlist">
<div class="container text-center">
     <h3>Sit tight! Loading your matches...</h3>
	<button type="submit" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loaded! Click here to proceed...</button>
</div>
</form>

</body>

</html>