<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"/>
</head>

<body>

<%- include("partials/apptitlebar.ejs",{goto:"/login",backbutton:0,home:0} ) %>


<div class="container">
     <h2>Sit tight! Loading your matches...</h2>
    <div class="spinner-container">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<script>setTimeout(function(){window.location.href='/matchlist'},2000);</script>
</body>

</html>