<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    /* Bordered form */
    form {
        border: 3px solid #f1f1f1;
    }
    h1{
        text-align: center;
        margin-top: 10%;
        font-size: 70px;
        font-family: "comic sans";
        margin-bottom: 10%;
    }
    h2{
        text-align: center;
        margin-top:2%;
        margin-bottom: 2%;
        font-size: 35px;
        font-family: "comic sans";
    }
    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    .btn-facebook {
        background-color: #154EA8;
        color: white;
        padding: 34px 40px;
        margin: 8px 0;
        margin-left: 15%;
        margin-top: 20%;
        border: none;
        cursor: pointer;
        width: 70%;
        font-size: 35px;
    }
    .btn-spotify {
        background-color: #4ab55f;
        color: white;
        padding: 34px 40px;
        margin: 8px 0;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        font-size: 35px;
    }
    .btn-soundcloud{
        background-color: #FF5500;
        color: white;
        padding: 34px 40px;
        margin: 8px 0;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-bottom: 5%;
        font-size: 35px;
    }

    .btn-soundcloud{
        background-color: #FF5500;
        color: white;
        padding: 34px 40px;
        margin: 8px 0;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-bottom: 5%;
        font-size: 35px;
    }

    .btn-email{
        background-color: #020107;
        color: white;
        padding: 34px 40px;
        margin: 8px 0;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-bottom: 5%;
        font-size: 35px;
    }


    /* Center the avatar image inside this container */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    /* Avatar image */
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
    }




</style>
</head>


<body>

<%- include("partials/apptitlebar.ejs",{goto:"/login",backbutton:0} ) %>



<form id="loginForm" role="form" method="get" action="/onboarding">
    <button type ="submit" class = "btn-facebook"> Login with Facebook</button>
    <button type ="submit" class = "btn-spotify"> Login with Spotify</button>
    <button type ="submit" class = "btn-soundcloud"> Login with Sound Cloud</button>
</form>

<h2> OR </h2>

<form id="loginForm" role="form" method="get" action="/emailsignup">
<button type="submit" class = "btn-email"> Login with Email </button>
</form>



</body>
</html>
