<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:300,400" rel="stylesheet">

</head>

</head>


<body>

<div class="app-title-bar">
    <h3 class="app-title" style= "color:#0b1219"> </h3>

</div>
        



<div class = "marginfix">
<h1 class = "h1-style"> Harmonize </h1> 
</div>
<center><img  id = "login-pic" alt="login image"; src  = '/images/login.jpg'/> </center>
<!-- Facebook button -->
<a class="btn btn-block btn-social btn-facebook" style="text-align:justified;" href= "/onboarding">
    <span class="fa fa-facebook" style="float:left; font-size:70px; "></span> Login with Facebook
  </a>
<!-- SoundCloud button -->
  <a class="btn btn-block btn-social btn-soundcloud " style="text-align:justified;" href= "/onboarding" >
    <span class="fa fa-soundcloud" style="float:left; font-size:70px;"></span> Login with SoundCloud
  </a>
  <!-- Spotify button -->
  <a class="btn btn-block btn-social btn-spotify" style="text-align:justified;" href= "/onboarding">
    <span class="fa fa-spotify" style="float:left; font-size: 75px;" ></span> Login with Spotify
  </a>



<h1> OR </h1>

<form id="loginForm" role="form" method="get" action="/emailsignup">
<a class="btn btn-block btn-social btn-email" style="text-align:justified;" href= "/emailsignup">
    <span class="fa fa-envelope" style="float:left; font-size:70px;"></span> Login with Email
  </a>
</form>



</body>
</html>
