<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>

</head>
<style>
    /* Bordered form */
/*#loginform {
        border: 3px solid #f1f1f1;
    }*/
    .h1-style{
        text-align: center;
        margin-top: 10%;
        font-size: 90px;
        font-family: "";
        margin-bottom: 12%;
        margin-left-right: 15%;
        margin-right-left: 15%;
        
    }
    h2{
        text-align: center;
        margin-top:2%;
        margin-bottom: 2%;
        font-size: 35px;
        font-family: "comic sans";
    }
   
    /* Set a style for all buttons */
    .btn-facebook {
        background-color: #154EA8;
        color: white;
        padding: 34px 40px;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-top: 10%;
        border: none;
        cursor: pointer;
        width: 70%;
        font-size: 35px;
    }
    .btn-spotify {
        background-color: #4ab55f;
        color: white;
        padding: 34px 40px;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        font-size: 35px;
    }
    .btn-soundcloud{
        background-color: #FF5500;
        color: white;
        padding: 34px 40px;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-bottom: 5%;
        font-size: 35px;
    }


    .btn-email{
        background-color: #020107;
        color: white;
        padding: 34px 40px;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-top: 5%;
        border: none;
        cursor: pointer;
        width: 70%;
        margin-bottom: 5%;
        font-size: 35px;
    }
    .marginfix{

    }
    .app-title-bar {
        background-color: #73758e;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 10px;

    }

    .app-title{
      text-align: center;
      font-size: 84px;
      margin-top: 15px;
      font-weight: bold;
      color: white;
      margin-left: 20px;


     
}




</style>
</head>


<body>

<div class="app-title-bar">
    <h3 class="app-title"> Shuffle </h3>

</div>
        



<div class = "marginfix">
<h1 class = "h1-style bg-warning">Login</h1>
</div>


<form id="loginForm" role="form" method="get" action="/onboarding">
    <button type ="submit" class = "btn-facebook"> Login with Facebook</button>
    <button type ="submit" class = "btn-spotify"> Login with Spotify</button>
    <button type ="submit" class = "btn-soundcloud"> Login with Sound Cloud</button>
</form>

<!-- <h2> OR </h2> -->

<form id="loginForm" role="form" method="get" action="/emailsignup">
<button type="submit" class = "btn-email"> Login with Email </button>
</form>



</body>
</html>
