<!DOCTYPE html>
<html>
<head>

    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/matchlist.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/progress-button.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"/>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
    <script type="text/javascript" src="/javascripts/progress-button.js" ></script>
    <script type="text/javascript" src="/javascripts/matchlist.js" ></script>
</head>
<body>

<%- include("partials/apptitlebar.ejs",{goto:"/genreselection",backbutton:1,home:1} ) %>

    <div class="slider">

        <% for(var i=0; i < matches.length; i++) { %>
        <%- include("partials/profile.ejs",{id:matches[i].id, title:matches[i].title, genres:matches[i].genres, imgurl: matches[i].imgurl} ) %>
        <% } %>

    </div>

    <div class="songlist">
        <!--Songs will be inserted here-->

    </div>

<!--<%- include("partials/songcontainer.ejs",{songid:1, songname:'asdasdasd', liked:1} ) %>-->



</body>

</html>