<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/progress-button.css"/>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/progress-button.js" ></script>
    <script type="text/javascript" src="/javascripts/matchlist.js" ></script>
</head>
<body>
<form id="loginForm" role="form" method="get" action="/genreselection">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header text-center" >
                <button type="submit" class="btn btn-default navbar-btn pull-left navbar-toggle">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <div class="navbar-text navbar-brand-centered"><h3>Shuffle</h3></div>
            </div>

        </div>
    </nav>
</form>

    <div class="slider">

        <% for(var i=0; i < matches.length; i++) { %>
        <%- include("partials/profile.ejs",{id:1, title:matches[i].title, genres:matches[i].genres, imgurl: matches[i].imgurl} ) %>
        <% } %>

    </div>


    <%- include("partials/songcontainer.ejs",{msgid:1, songname:"Bob Marley - One Love", liked: 0, playing:0} ) %>
    <%- include("partials/songcontainer.ejs",{msgid:2, songname:"Emancipator - Lionheart", liked: 0, playing:1} ) %>
    <%- include("partials/songcontainer.ejs",{msgid:3, songname:"Luminol - Steven Wilson", liked: 0, playing:0} ) %>


</body>

</html>