<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/onboarding.css" />
    <script type="text/javascript" src="/javascripts/onboarding.js" ></script>
</head>
<body>

<%- include("partials/apptitlebar.ejs",{goto:"/home",backbutton:1,home:1} ) %>

<h2>Who are you?</h2>



<div class="container">
    <select class="form-control" id="sel1">
        <option>I am</option>
        <option>We are</option>
    </select>

    <h2> a </h2>

    <select class="form-control" id="sel2">
        <option>Orchestra</option>
        <option>Acapella group</option>
        <option>Choir</option>
        <option>DJ group</option>
        <option>Band</option>
    </select>

    <select class="form-control" id="sel3">
        <option>Guitarist</option>
        <option>Drummer</option>
        <option>Bassist</option>
        <option>Vocalist</option>
        <option>DJ</option>
        <option>Pianist/Keyboard Player</option>
        <option>Other</option>
    </select>

    <h2> looking for a </h2>

   <select class="form-control" id="sel4">
       <option>Guitarist</option>
       <option>Drummer</option>
       <option>Bassist</option>
       <option>Vocalist</option>
       <option>DJ</option>
       <option>Other</option>
   </select>

</div>


<div class="float-button"> NEXT </div>


</body>
</html>