<!DOCTYPE html>

<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  
  #bigDiv{
       margin: 80px 0px 50px 00px;
  }
  select { width: 400px;
            text-align-last:center;
  }


  </style>
  
</head>
<body>

<%- include("partials/apptitlebar.ejs",{goto:"/login",backbutton:1} ) %>

<div class="container" id="bigDiv">
<div class="container text-center">
   <form>
    <div class="form-group text-center">
      <select class="form-control" id="sel1">
        <option>I am</option>
        <option>We are</option>
       </select>
      <br>
    </div>
    </form>
  </div>

<div class="container text-center">
    <h1> a </h1>

    </div>

<div class="container text-center">
  <form>
    <div class="form-group text-center">
      <select class="form-control" id="sel1">
         <option selected="true" disabled="disabled">Click here if you selected "we are" above</option> 
        <option>Band</option>
         <option>Orchestra</option>
        <option>Acapella group</option>    
        </select>
      <br>
    </div>
    </form>
     <form>
    <div class="form-group text-center">
      <select class="form-control" id="sel1">
         <option selected="true" disabled="disabled">Click here if you selected "i am" above</option> 
        <option>Guitarist</option>
         <option>Drummer</option>
        <option>Bassist</option>
        <option>Vocalist</option>
        <option>DJ</option>
        <option>Other</option>    
        </select>
      <br>
    </div>
    </form>
</div>

<div class="container text-center">
    <h1> looking for a </h1>

    </div>

<div class="container text-center">
   <select class="form-control" id="sel1">
         <option>Guitarist</option>
         <option>Drummer</option>
        <option>Bassist</option>
        <option>Vocalist</option>
        <option>DJ</option>
        <option>Other</option>    
        </select>
      <br>
    </div>
    </form>
</div>
<div class="container text-center">
    <form id="loginForm" role="form" method="get" action="/genreselection">
        <input type="submit" class="btn" value="Next">
    </form>
</div>
</div>
</body>
</html>