<!DOCTYPE html>
<html>
<head>

    <% include partials/head.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/selectgenre.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"/>

    <script type="text/javascript" src="/javascripts/genre-selection.js" ></script>

</head>
<body>

<%- include("partials/apptitlebar.ejs",{goto:"/onboarding",backbutton:1,home:1} ) %>

<h2>What genres would you like to play?</h2>


<p> <!--DO NOT REMOVE. THIS P TAG IS NEEDED FOR A NEW LINE--> </p>

<div id ='genre1' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre2' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre3' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>


<div id ='genre4' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre5' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre6' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>


<div id ='genre7' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre8' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div id ='genre9' class="genre-button">
    <img class="genre-img" src = '/images/genre_funk.png'/>
    <div class="genre-text">Funk</div>
</div>

<div class="float-button float-button-disabled"> NEXT </div>

</body>

</html>