<!DOCTYPE html>
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='142215536-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93233024-1', 'auto');
  ga('send', 'pageview');

</script>
    <% include partials/head.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/selectgenres.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"/>

    <script type="text/javascript" src="/javascripts/selectgenres.js" ></script>

</head>
<body>

<%- include("partials/apptitlebar.ejs",{goto:"/onboarding",backbutton:1,home:1} ) %>

<h2>What genres would you like to play?</h2>


<p> <!--DO NOT REMOVE. THIS P TAG IS NEEDED FOR A NEW LINE--> </p>

<div class="genre-container">
    <div id ='genre1' class="genre-button">
        <img class="genre-img" src = '/images/funk.svg'/>
        <div class="genre-text">Funk</div>
    </div>

    <div id ='genre2' class="genre-button">
        <img class="genre-img" src = '/images/hiphop.svg'/>
        <div class="genre-text">Hip-Hop</div>
    </div>

    <div id ='genre3' class="genre-button">
        <img class="genre-img" src = '/images/house.svg'/>
        <div class="genre-text">House</div>
    </div>


    <div id ='genre4' class="genre-button">
        <img class="genre-img" src = '/images/classic.svg'/>
        <div class="genre-text">Classic</div>
    </div>

    <div id ='genre5' class="genre-button">
        <img class="genre-img" src = '/images/EDM.svg'/>
        <div class="genre-text">EDM</div>
    </div>

    <div id ='genre6' class="genre-button">
        <img class="genre-img" src = '/images/folk.svg'/>
        <div class="genre-text">Folk</div>
    </div>


    <div id ='genre7' class="genre-button">
        <img class="genre-img" src = '/images/indie.svg'/>
        <div class="genre-text">Indie</div>
    </div>

    <div id ='genre8' class="genre-button">
        <img class="genre-img" src = '/images/jazz.svg'/>
        <div class="genre-text">Jazz</div>
    </div>

    <div id ='genre9' class="genre-button">
        <img class="genre-img" src = '/images/reggae.svg'/>
        <div class="genre-text">Reggae</div>
    </div>


    <div id ='genre10' class="genre-button">
        <img class="genre-img" src = '/images/metal.svg'/>
        <div class="genre-text">Metal</div>
    </div>

    <div id ='genre11' class="genre-button">
        <img class="genre-img" src = '/images/rock.svg'/>
        <div class="genre-text">Rock</div>
    </div>

    <div id ='genre12' class="genre-button">
        <img class="genre-img" src = '/images/country.svg'/>
        <div class="genre-text">Country</div>
    </div>

</div>

<div class="float-button float-button-disabled" id="floating-next"> NEXT </div>

</body>

</html>