<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <% include partials/head.ejs %>
    <style>
    img{
    	border: dotted;
    	border-style: bold;

    }
    h1{
    	text-align: center;
    }
     h2{
    	text-align: center;
    }
     h3{
    	text-align: center;
    }
     p{
    	text-align: center;
    }
    </style>

<!-- // 	$(document).ready(function(){

// 	alert("Hey! This page is under maintenance. Hit the home button to be redirected back home")

// 	}); -->

</head>

<body>
	<%- include("partials/apptitlebar.ejs",{goto:"/home",backbutton:1,home:0} ) %>

<img class ="img-responsive" src = "/images/tushar.jpg"></img>

<h1>HEY!</h1>
<h3> Are you having any problems?</h3>	
<h3> Call Tushar at 858-729-3916</h3>
<p> for tech (and emotional) support </h3>
</body>

</html>


