.spotify {
width:105px;
height:105px;
margin-top: 15px;
}
.highlight{
    padding: 7px 7px 7px 7px;
    background: #FF8077;
}
.no-highlight{
	padding: 0px 0px 0px 0px;
}
.next-button { 
  color: #FFFFFF; 
  background-color: #E11CFF; 
  border-color: #20FAB1; 
   position:absolute;
bottom:48px;
text-align: center;
} 
